<div class="card text-center boilertemp">
    <div class="card-header">Boiler-Temperatur</div>
    <div class="card-body">
      <h5 class="card-title d-inline value">-</h5>
      <h5 class="card-title d-inline ms-1">°C</h5>
    </div>
</div>
<div class="card text-center">
    <div class="card-header">Status</div>
    <div class="card-body">
        <div class="card text-center state">
            <div class="card-header">Zustand</div>
            <div class="card-body power">
                <h5 class="card-title d-inline value">-</h5>
            </div>
        </div>
        <div class="card text-center csc">
            <div class="card-header">Momentane Leistung (Solar)</div>
            <div class="card-body">
                <h5 class="card-title d-inline value">-</h5>
                <h5 class="card-title d-inline ms-1">W</h5>
            </div>
        </div>
        <div class="card text-center nightstate">
            <div class="card-header">Nachtstrom</div>
            <div class="card-body">
                <h5 class="card-title d-inline value">-</h5>
            </div>
        </div>
        <div class="card text-center daystate">
            <div class="card-header">Tagstrom</div>
            <div class="card-body">
                <h5 class="card-title d-inline value">-</h5>
            </div>
        </div>
        <div class="card text-center overridestate">
            <div class="card-header">Überschreiben</div>
            <div class="card-body">
                <h5 class="card-title d-inline value">-</h5>
            </div>
        </div>
    </div>
</div>
