<div class="row row-cols-3">
  <div class="col">
    <div class="card text-center inverteravp">
      <div class="card-header">Momentaner Solar-Ertrag</div>
      <div class="card-body">
        <h5 class="card-title d-inline value">-</h5>
        <h5 class="card-title d-inline ms-1">W</h5>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card text-center inverterdec">
      <div class="card-header">Solar-Ertrag (Tag)</div>
      <div class="card-body">
        <h5 class="card-title d-inline value">-</h5>
        <h5 class="card-title d-inline ms-1">kW/h</h5>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card text-center total_power">
      <div class="card-header">Energieverbrauch</div>
      <div class="card-body">
        <h5 class="card-title d-inline value">-</h5>
        <h5 class="card-title d-inline ms-1 unit">W</h5>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card text-center boilerstatus">
      <div class="card-header">Boiler-Status</div>
      <div class="card-body">
        <h5 class="card-title value">-</h5>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card text-center boilertemp">
      <div class="card-header">Boiler-Temperatur</div>
      <div class="card-body">
        <h5 class="card-title d-inline value">-</h5>
        <h5 class="card-title d-inline ms-1">°C</h5>
      </div>
    </div>
  </div>
</div>
