<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">HomeControl</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link dashboard" href="#/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link energy" href="#/energy">Energie</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link solar" href="#/solar">Solar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link boiler" href="#/boiler">Boiler</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link camera" href="#/camera">Kamera</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>